# <font color='darkred'>**TMBD Movies**</font>

## **Table of Contents**
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## **Introduction**

> This dataset comes from IMDB and contains information about 10,000 movies,
short films and tv series collected from The Movie Database (TMDb), including user ratings, revenue, runtime and budget.

## **Generate Questions**

In this project, i'll be answering the following questions:
- What's the genre with the highest median popularity?
- What's the genre with the highest median revenue?
- What's the genre with the highest median vote_count?
- What's the genre with the highest mean vote_average?
- what movie is considered movie genre is considered the "best"?
- What month is considered "best" for releasing a films?
- What is the relationship between the columns and each other?

## **Import Libraries**

## **Data Wrangling**


### General Properties

In [109]:
import pandas as pd
pd.set_option('display.float_format', '{:,.2f}'.format)

In [110]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
df = pd.read_csv('../tmdb-movies.csv')
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.99,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"
1,76341,tt1392190,28.42,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.10,2015,"137,999,939.28","348,161,292.49"
2,262500,tt2908446,13.11,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.30,2015,"101,199,955.47","271,619,025.41"
3,140607,tt2488496,11.17,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.50,2015,"183,999,919.04","1,902,723,129.80"
4,168259,tt2820852,9.34,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.30,2015,"174,799,923.09","1,385,748,801.47"

## **Data Cleaning**

In [111]:
# create a function to find and display NAs
df[df.isna().any(axis=1)]

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
18,150689,tt1661199,5.56,95000000,542351353,Cinderella,Lily James|Cate Blanchett|Richard Madden|Helen...,NaN,Kenneth Branagh,Midnight is just the beginning.,...,"When her father unexpectedly passes away, youn...",112,Romance|Fantasy|Family|Drama,Walt Disney Pictures|Genre Films|Beagle Pug Fi...,3/12/15,1495,6.80,2015,"87,399,961.54","498,963,025.22"
21,307081,tt1798684,5.34,30000000,91709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,NaN,Antoine Fuqua,Believe in Hope.,...,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,6/15/15,1386,7.30,2015,"27,599,987.86","84,373,003.72"
26,214756,tt2637276,4.56,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,NaN,Seth MacFarlane,"Ted is Coming, Again.",...,Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/15,1666,6.30,2015,"62,559,972.47","198,594,430.14"
32,254470,tt2848292,3.88,29000000,287506194,Pitch Perfect 2,Anna Kendrick|Rebel Wilson|Hailee Steinfeld|Br...,NaN,Elizabeth Banks,We're back pitches,...,"The Bellas are back, and they are better than ...",115,Comedy|Music,Universal Pictures|Gold Circle Films|Brownston...,5/7/15,1264,6.80,2015,"26,679,988.26","264,505,582.10"
33,296098,tt3682448,3.65,40000000,162610473,Bridge of Spies,Tom Hanks|Mark Rylance|Amy Ryan|Alan Alda|Seba...,NaN,Steven Spielberg,"In the shadow of war, one man showed the world...",...,"During the Cold War, the Soviet Union captures...",141,Thriller|Drama,DreamWorks SKG|Amblin Entertainment|Studio Bab...,10/15/15,1638,7.10,2015,"36,799,983.81","149,601,569.34"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.08,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.40,1966,0.00,0.00
10862,20379,tt0060472,0.07,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.70,1966,0.00,0.00
10863,39768,tt0060161,0.07,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.50,1966,0.00,0.00
10864,21449,tt0061177,0.06,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.40,1966,0.00,0.00
10865,22293,tt0060666,0.04,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.50,1966,"127,642.28",0.00

In [112]:
df.isna().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

<a id='eda'></a>
## **Exploratory Data Analysis**

### What's the genre with the highest median popularity?

In [114]:
df_genres = df.dropna(subset=["genres"]).copy()
df['genres'].unique()

array(['Action|Adventure|Science Fiction|Thriller',
       'Adventure|Science Fiction|Thriller',
       'Action|Adventure|Science Fiction|Fantasy', ...,
       'Adventure|Drama|Action|Family|Foreign',
       'Comedy|Family|Mystery|Romance',
       'Mystery|Science Fiction|Thriller|Drama'], dtype=object)

In [115]:
df_genres["genres"] = df_genres["genres"].apply(lambda x: [genre.strip() for genre in x.split("|")])

df_exploded = df_genres.explode("genres")
df_exploded

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.99,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"
0,135397,tt0369610,32.99,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Adventure,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"
0,135397,tt0369610,32.99,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Science Fiction,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"
0,135397,tt0369610,32.99,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"
1,76341,tt1392190,28.42,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.10,2015,"137,999,939.28","348,161,292.49"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10863,39768,tt0060161,0.07,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery,Mosfilm,1/1/66,11,6.50,1966,0.00,0.00
10863,39768,tt0060161,0.07,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Comedy,Mosfilm,1/1/66,11,6.50,1966,0.00,0.00
10864,21449,tt0061177,0.06,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action,Benedict Pictures Corp.,11/2/66,22,5.40,1966,0.00,0.00
10864,21449,tt0061177,0.06,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Comedy,Benedict Pictures Corp.,11/2/66,22,5.40,1966,0.00,0.00
10865,22293,tt0060666,0.04,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.50,1966,"127,642.28",0.00

In [116]:
median_popularity = df_exploded.groupby("genres")["popularity"].median().sort_values(ascending=False)
highest_genre = median_popularity.idxmax()
highest_value = median_popularity.max()
display(median_popularity.head(3))
print(f"The genre with the highest median popularity is '{highest_genre}' with a median popularity of {highest_value:.2f}.")

genres
Adventure   0.56
Fantasy     0.53
Animation   0.50
Name: popularity, dtype: float64

The genre with the highest median popularity is 'Adventure' with a median popularity of 0.56.

### What's the genre with the highest median revenue?

In [117]:
median_revenue = df_exploded.groupby("genres")["revenue"].median().sort_values(ascending=False)
highest_genre_revenue = median_revenue.idxmax()
highest_value_revenue = median_revenue.max()
display(median_revenue.head(3))
print(f"The genre with the highest median revenue is '{highest_genre_revenue}' with a median revenue of {highest_value_revenue:.2f}.")

genres
Adventure   9,697,739.00
Crime       2,554,476.00
Action        773,228.00
Name: revenue, dtype: float64

The genre with the highest median revenue is 'Adventure' with a median revenue of 9697739.00.

### What's the genre with the highest median vote_count?

In [118]:
median_vote_count = df_exploded.groupby("genres")["vote_count"].median().sort_values(ascending=False)
highest_genre_vote_count = median_vote_count.idxmax()
highest_value_vote_count = median_vote_count.max()
display(median_vote_count.head(3))
print(f"The genre with the highest median vote count is '{highest_genre_vote_count}' with a median vote count of {highest_value_vote_count:.2f}.")

genres
Adventure   90.00
Fantasy     68.00
Crime       63.00
Name: vote_count, dtype: float64

The genre with the highest median vote count is 'Adventure' with a median vote count of 90.00.

### What's the genre with the highest mean vote_average?

In [119]:
mean_vote_average = df_exploded.groupby("genres")["vote_average"].mean().sort_values(ascending=False)
highest_genre_vote_average = mean_vote_average.idxmax()
highest_value_vote_average = mean_vote_average.max()
display(mean_vote_average.head(3))
print(f"The genre with the highest mean vote average is '{highest_genre_vote_average}' with a mean vote average of {highest_value_vote_average:.2f}.")

genres
Documentary   6.91
Music         6.48
History       6.41
Name: vote_average, dtype: float64

The genre with the highest mean vote average is 'Documentary' with a mean vote average of 6.91.

### What movie is considered movie genre is considered the "best"?

In [120]:
df_exploded.sort_values(by="vote_average", ascending=False).drop_duplicates(subset=["genres"], keep="first")[["original_title", "genres", "vote_average"]]

                            original_title           genres  vote_average
3894         The Story of Film: An Odyssey      Documentary          9.20
1200         Black Mirror: White Christmas           Horror          8.80
1200         Black Mirror: White Christmas         Thriller          8.80
1200         Black Mirror: White Christmas            Drama          8.80
1200         Black Mirror: White Christmas          Mystery          8.80
1200         Black Mirror: White Christmas  Science Fiction          8.80
6911                     Pink Floyd: Pulse            Music          8.70
8839   Dave Chappelle: Killin' Them Softly           Comedy          8.50
3690                     The Art of Flight        Adventure          8.50
4178              The Shawshank Redemption            Crime          8.40
5923                               Tropico          Fantasy          8.40
5923                               Tropico          Romance          8.40
2313                        Tick Tock Tale        Animation          8.30
10222                     Schindler's List              War          8.10
10222                     Schindler's List          History          8.10
2875                       The Dark Knight           Action          8.10
736                        Song of the Sea           Family          8.00
1879           Doctor Who: The End of Time         TV Movie          7.90
3110                          Jodhaa Akbar          Foreign          7.80
4364                      Django Unchained          Western          7.70

### What month is considered "best" for releasing a films/shows?

In [121]:

df['release_date'] = pd.to_datetime(df['release_date'], format='%m/%d/%y', errors='coerce')
df['release_month'] = df['release_date'].dt.month
month_mapping = {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
}
df['release_month_name'] = df['release_month'].map(month_mapping)

print(df[['release_month', 'release_month_name']].head())

   release_month release_month_name
0              6               June
1              5                May
2              3              March
3             12           December
4              4              April

In [122]:

mean_revenue_by_month = df.groupby('release_month_name')['revenue'].mean().sort_values(ascending=False)
highest_month_revenue = mean_revenue_by_month.idxmax()
highest_value_month_revenue = mean_revenue_by_month.max()
display(mean_revenue_by_month)
print(f"The month with the highest mean revenue is '{highest_month_revenue}' with a mean revenue of {highest_value_month_revenue:.2f}.")

release_month_name
June        74,559,353.35
May         62,366,954.04
December    59,098,338.28
July        56,798,780.33
November    56,383,607.85
March       38,148,133.65
April       33,115,759.94
February    28,645,130.98
August      27,753,558.71
October     25,458,551.32
September   19,332,441.99
January     14,111,511.79
Name: revenue, dtype: float64

The month with the highest mean revenue is 'June' with a mean revenue of 74559353.35.

<a id='conclusions'></a>
## Conclusions


## Limitations

# Conclusions

1. The Adventure genre stands out on several key metricsâ€”it has the highest median revenue, vote count, and popularity. This suggests that films in the Adventure genre consistently attract audience interest and generate substantial box office income.

2. The Documentary genre exhibits the highest mean vote average. Although its absolute revenue and popularity numbers might be lower than blockbuster figures, the high average rating indicates that documentaries are highly appreciated for their quality.

3. The differences between mean and median metrics across genres indicate heterogeneous distributions, potentially due to outliers or skewed data.

# Limitations
1. Genre Handling: Films belonging to multiple genres were "exploded" into separate rows. As a result, the same movie may appear in multiple genre categories, which can affect the aggregated statistics for each genre.
2. Statistical Aggregation: Relying on mean and median values offers a general overview but does not capture the full distribution of the metrics. The presence of outliers or skewed data might cause these aggregated metrics to be misleading.